.logo{
    width: 205px;
}

.header-container{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.623);
    width: 100vw;
    height: 77px;
    position: fixed;
    top: 0px;
}

@media (max-width:779px) {
    .logo{
        display: none;
    }
}