<div class="container">
  <input type="radio" name="slider" id="item-1" checked>
  <input type="radio" name="slider" id="item-2">
  <input type="radio" name="slider" id="item-3">
<div class="cards">
  <label class="card" for="item-1" id="song-1">
    <img src="https://images.genius.com/de2880e5fbf4df46067fa418a4b586df.1000x1000x1.jpg" alt="song">
  </label>
  <label class="card" for="item-2" id="song-2">
    <img src="https://images-na.ssl-images-amazon.com/images/I/81XZF9AP7ML._SL1200_.jpg" alt="song">
  </label>
  <label class="card" for="item-3" id="song-3">
    <img src="https://www.baba.es/27504-large_default/while-she-sleeps-sleeps-society-cd.jpg" alt="song">
  </label>
</div>
</div>