<nav class="menu">
    <a class="menu__link" routerLinkActive="menu__link--active" [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/">Home</a>
    <a class="menu__link" routerLinkActive="menu__link--active" routerLink="/artists">Artists</a>
    <a class="menu__link" routerLinkActive="menu__link--active" routerLink="/albums">Albums</a>
    <a class="menu__link" routerLinkActive="menu__link--active" routerLink="/manage">Add album</a>
    <a class="menu__link" routerLinkActive="menu__link--active" routerLink="/new-artist">Add artist</a>
    <!-- <a routerLinkActive="c-menu__link--active" routerLink="/episodes">Create</a> -->
    <!-- <a class="c-menu__link m-3 p-lg-3" routerLinkActive="c-menu__link--active" routerLink="/contact"><img class="c-menu__icons" src="../../assets/contact.svg">Contact</a> -->
    <!-- <a routerLinkActive="c-menu__link--active" routerLink="/favorites">Favorites</a> -->
</nav>